{% extends 'main/layout.html' %}
{% load static %}


{% block title %}Сантехника{% endblock %}
{% block description %}Сантехника{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
    		<div class="col">
      			1 of 3
    		</div>
    		<div class="col-5">
      			  		<p>Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом. Его можно использовать для отображения образца шрифтов, создания текста для тестирования или обхода спам-фильтра</p>
  						<p>Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом. Его можно использовать для отображения образца шрифтов, создания текста для тестирования или обхода спам-фильтра</p>
  						<p>Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом. Его можно использовать для отображения образца шрифтов, создания текста для тестирования или обхода спам-фильтра</p>
    		</div>
    		<div class="col">
      			3 of 3
      		</div>
    	</div>
  	</div>




{% endblock %}
